<div class="anim-slide-left">
  <h1>Main</h1>
  <div class="input-area">

    <div class="textarea-box">
      <textarea id="chat-input" name="" cols="30" rows="10" ng-model="newMessage.body"></textarea>
    </div>
    <button class="submit-button" ng-click="sendMessage(newMessage)">Chat, you should.</button>
  </div>
  <div class="message-area fade" ng-repeat="message in messageArray track by $index">
    {{message.author}}
    {{message.createdAt}}
    <div class="message">
      {{message.body}}
    </div>
  </div>
</div>
